/* VARIABLES --- */
:root {
    /* Font */
    --font-family-one: Roboto;
    --font-size-one: 14px;
    /* Colors */
    --color-one: #CA1517;
    --color-two: #e7181c;
    --color-three: #FFFFFF;
    --color-four: #666666;
    --color-five: #D3D3D3;
    --color-six: #151515;
    /* Problem panel width on desktop */
    --panel-width: 500px;
    /* Others */
    --title-bar-height: 45px;
    --problem-element-padding-top: 10px;
}

/* GENERAL SETTINGS --- */
html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.esri-widget {
    font-family: var(--font-family-one) !important;
}
.invisible {
    visibility: collapse;
}
.esri-expand .esri-expand__content {
    box-shadow: none;
}
.esri-view-height-xsmall
.esri-ui-corner
.esri-expand
.esri-legend.esri-widget,
.esri-view-height-small
.esri-ui-corner
.esri-expand
.esri-legend.esri-widget {
    max-height: 100%;
}

/* LOADING SCREEN */
#loading-screen {
    position:fixed;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
    background: var(--color-one);
    z-index: 100
}
#loading-screen .spinner-main {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* HEADER BAR */
#title-bar {
    position: absolute;
    height: var(--title-bar-height);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-four);
    z-index: 1;
    background-color: var(--color-three);
}
#title-bar .logo-container {
    margin-left: 0px;
    height: var(--title-bar-height);  
}
#title-bar .logo-image {
    height: var(--title-bar-height);
    width: auto;
}
#title-bar .title-container {
    height: var(--title-bar-height);
    line-height: var(--title-bar-height);
    font-size: 20px;
    margin: 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

/* ABOUT WIDGET */
.about-widget {
    line-height: 1.5em;
}
.about-widget a {
    color: var(--color-one);
}
.about-widget .custom-icon {
    padding: 4px;
    vertical-align: middle;
    color: var(--color-one);
    margin-left: -3px;
    margin-top: -3px;
}
.about-widget h3 {
    margin-block-start: 0em;
    color: var(--color-one);
}
.about-widget h4 {
    margin-block-end: .55em;
    color: var(--color-four);
}
.about-widget .info-h5 {
    color: var(--color-four);
}
.about-widget p {
    margin-block-start: .45em;
    margin-block-end: .45em;
}

/* LEGEN WIDGET */
.esri-legend__layer-caption {
    display: none;
}
.custom-legend-widget {
    line-height: 1.5em;
    font-family: var(--font-family-one);
}
.custom-legend-widget:last-child {
    padding-bottom: 2.5em;
}
.custom-legend-widget h3 {
    margin-block-start: 0em;
    color: var(--color-one);
}
.custom-legend-widget h4 {
    margin-block-end: .55em;
    color: var(--color-one);
}
.custom-legend-widget img {
    padding-top: 3px;
    width: 20px;
    height: 20px;
}
.custom-legend-widget td {
    padding-right: 7px;
}

/* LOADING SPINNER */
@keyframes spinner {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.spinner div {
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    border: 0.5em solid #ffffff;
    border-top-color: transparent;
    border-radius: 50%;
}
.spinner div {
    animation: spinner 1s linear infinite;
    top: 100px;
    left: 100px
}
.spinner {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.spinner div { box-sizing: content-box; }

/* MOBILE LAYOUT */
@media only screen and (max-width: 544px) {
    /* Disable shadows of widgets */
    .custom-most-theme .esri-expand__content {
        box-shadow: none !important;
    }
    /* Format title text */
    #title-bar .title-container {
        font-size: 15px;
    }
    /* Move widget panel down */
    .esri-expand__container.esri-expand__container--expanded {
        top: 45px !important;
    }
}
/* Disable :hover on mobile device */
@media (hover:none), (hover:on-demand) {
    .esri-popup__header-container--button:hover {
        background-color: transparent;
    }
    .esri-popup__button:hover {
        background-color: transparent;
    }
}
/* Disable outline in many app places */
:focus, :focus-within, :focus::after {
    outline: none !important;
    outline-offset: 0px !important;
}

/* FIXES */
/* Move Editor widget under other widget in mobile resolutions */
.esri-component.esri-editor.esri-widget.esri-widget--panel {
    z-index: -1;
}